@font-face {
    font-family: Neue;
    src: url(./fonts/NeueMontreal-Regular.ttf);
}
@font-face {
    font-family: ico;
    src: url(./fonts/icomoon.ttf);
}
@font-face {
    font-family: Founder;
    src: url(./fonts/FoundersGrotesk-Semibold.ttf);
}